/* Channel list background */
#app-mount .sidebar_c48ade {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Server list background */
#app-mount .wrapper_ef3116 {
  background-color: rgba(0, 0, 0, 0.2);
}

/* GIF panel */
#app-mount #gif-picker-tab-panel {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Right click menu background, channel selected. button tooltip */
#app-mount .containerDefault_c69b6d.selected_c69b6d .link__2ea32,
#app-mount .layerContainer_da8173 .layer_da8173 .tooltip__382e7,
#app-mount .layer_da8173 [class*=menu] .scroller_c1e9c4 {
  background: linear-gradient(to bottom right, rgb(115, 11, 1), rgb(115, 100, 0));
}

/* Member list hover, message hover, channel hover */
#app-mount .containerDefault_c69b6d .wrapper__2ea32:hover .link__2ea32,
#app-mount .messageListItem__5126c .wrapper_c19a55:hover,
#app-mount .content__99f8c .container__91a9d:hover .memberInner__5d473
{
  background: linear-gradient(to right, rgba(115, 11, 1, 0.3), rgba(115, 100, 0, 0.3));
}

/* Popup menu button hover */
#app-mount .layerContainer_da8173 .layer_da8173 .item_c1e9c4.focused_c1e9c4 {
  background: linear-gradient(to right, rgba(80, 7, 1, 0.3), rgba(70, 60, 0, 0.3));
}

/* User profile */
#app-mount .layerContainer_da8173 .layer_da8173 .outer_c0bea0 .inner_c0bea0 {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Unread Notification */
#app-mount .item__58105 {
  border: 3px solid var(--unread-server-color);
  border-radius: 48px 48px 48px 48px;
  position: absolute;
  top: -2.5px;
  width: 48px;
  height: 48px !important;
  transform: none !important;
  right: 2.5px !important;
  transition: border-radius 0.5s linear 0s;
}

#app-mount .item__58105[style*="opacity: 1;"][style*="height: 8px;"] {
    border-radius: 48px 48px 48px 48px;
}

#app-mount .item__58105[style*="opacity: 1;"] {
  border-radius: 18px 18px 18px 18px;
}
